/* font-size generator */
/* https://websemantics.uk/tools/responsive-font-calculator/ */
/* 560px - 1920px */

/* fonts */
@font-face {
	font-family: 'postnobillscolomboExtrabold';
	src: url('../../fonts/postnobillscolombo-extrabold.ttf');
}
p,a,h1,h2 {
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    color: black !important;
    text-decoration:none;
}

h2 {
    font-size: calc(1.25rem + ((1vw - 5.6px) * 0.7353)); /* 20px - 30px */
    line-height: calc(1.5 * (1.25rem + ((1vw - 5.6px) * 0.7353)));
    letter-spacing: 0.2em;
    font-weight: 500;
}
p {
    font-size: calc(0.9375rem + ((1vw - 5.6px) * 0.3676)); /* 15px - 20px */
    line-height: calc(1.5 * (0.9375rem + ((1vw - 5.6px) * 0.3676)));
    letter-spacing: 0.2em;
}

/* css */
body {
    margin: 0;
    padding: 0;
    color: #000000;
    width: 100vw;
}
::selection {
    background: #000;
    color: #fff;
}


/* header */
header {
    width: 100vw;
    height: 50px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: right;
    background-color: #ffffff;
}
header ul {
    display: flex;
    padding: 10px 50px 0;
    justify-content: flex-end;  /* 右寄せ */
}
header li {
    color: #000000;
    list-style: none;
    line-height: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    margin: auto 20px;
}
header li p {
    font-size: 80%;
    margin-bottom: 0px;
}
/* アンダーラインの作成 */
.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.underline::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.05em;
    background: #000000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.underline:hover::after {
    transform-origin: right top;
    transform: scale(1, 1);
}


/* text_size */

.text_22{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 24px;
}
.text_16{
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 12px 0;
}
.hover_shadow{
    cursor: pointer;
    transition: .5s;
}
.hover_shadow:hover{
    text-shadow: -.2em .2em 2px rgba(255, 0, 0, 0.4), .2em -.2em 2px rgba(0, 194, 255, 0.4);
}

/* logo icon */
.logo_icon_image{
    width: 70px;
    height: 70px;
    margin: 50px 90px 0;
}

/* select category section */
.select_category_section{
    margin: 40px 40px 50px;
    width: calc(100vw - 80px);
    text-align: center;
    display: flex;
    align-items: top;
    justify-content: center;
}
.select_category_child{
    text-align: left;
    margin: 0 140px;
    position: relative;
} 
.left_section:after, .middle_section:after{
    content: '';
    border-right: 1px solid #AFAFAF;
    position: absolute;
    top: 0;
    right: -140px;
    height: 100%;
}

/* search section */
.search_section{
    margin: 170px 100px 0;
    width: calc(100vw - 200px);
    text-align: right;
}
.search_works_input{
    width: 20em;
    max-width: 80vw;
    padding: 5px 30px 5px 5px;
    border: 0;
    border-bottom: 1px solid #303030;
    color: #303030;
}
.search_icon{
    height: 20px;
    margin: -5px -2em;
}
input[type=text]:focus {
    outline: none;
}

/* imagine_text */
.imagine_text{
    font-family: 'postnobillscolomboExtrabold';
    text-shadow: -5px 10px 4px rgba(255, 0, 0, 0.4), 5px -7px 4px rgba(0, 194, 255, 0.4);
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    letter-spacing: 0.4em;
    margin: 100px 40px 200px;
}

/* black_background */
.black_background{
    background: #000000;
    color: #ffffff;
    padding: 0 0 60vw;
}




/* concept_section */

.concept_section {
    padding-top: 400px;
    text-align: center;
}
.concept_main {
    font-size: calc(1.875rem + ((1vw - 5.6px) * 2.2059));  /* 30px - 60px */
    line-height: calc(1.5 * (1.875rem + ((1vw - 5.6px) * 2.2059)));
    font-weight: bold;
    margin-bottom: 110px;
}

.concept_image {
    width: 30%;
    min-width: 400px;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0;
    font-weight: bold;
}
.concept_text_session{
    width: 60%;
    min-width: 400px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 50px 0;
}



/* contents select section */
.contets_title{
    font-size: 60px;
    line-height: 82px;
    letter-spacing: 0.2em;
    font-weight: bold;
}

/* contact_section */
.contact_section {
    margin-top: 0;
    padding: 100px 10% 200px;
    text-align: left;
}
.contact_title{
    font-style: italic;
    font-weight: bold;
    margin-bottom: 100px;
}
.contact_border{
    margin: 400px 0 0;
    width: 100vw;
}

.contact_section img {
    height: 35px;
    margin-top: 55px;
    margin-right: 30px;
}

/* photo_table_section */
.photo_table_section{
    width: 100vw;
    text-align: right;
    margin-bottom: -200px;
}
.photo_table_image{

}

/* class_contents_preview */
.class_contents_preview{
    width: 80vw;
    margin: 200px auto;
    text-align: right;
}
.preview_img{
    margin: 0 auto;
    width: 100%;
    background: white;
}

/* clubs section */
.clubs_photo{
    width: 100vw;
}
.club_contents_preview{
    width: 100vw;
    margin: -60vw auto 0;
    color: white;
    position: relative;
}

#contents_title_1{
    float: left;
    position: absolute;
    top: 20vw;
    margin: 0;
    left: 50px;
}

#contents_title_2{
    float: right;
    position: absolute;
    bottom: 20vw;
    margin: 0;
    right: 50px;
}