/* font-size generator */
/* https://websemantics.uk/tools/responsive-font-calculator/ */
/* 560px - 1920px */

/* fonts */
@font-face {
	font-family: 'postnobillscolomboExtrabold';
	src: url('../../fonts/postnobillscolombo-extrabold.ttf');
}

html { scroll-behavior: smooth; }

p,a,h1,h2 {
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    color: black !important;
    text-decoration:none;
}

h2 {
    font-size: calc(1.25rem + ((1vw - 5.6px) * 0.7353)); /* 20px - 30px */
    line-height: calc(1.5 * (1.25rem + ((1vw - 5.6px) * 0.7353)));
    letter-spacing: 0.2em;
    font-weight: 500;
}
p {
    font-size: calc(0.9375rem + ((1vw - 5.6px) * 0.3676)); /* 15px - 20px */
    line-height: calc(1.5 * (0.9375rem + ((1vw - 5.6px) * 0.3676)));
    letter-spacing: 0.2em;
}

/* css */
body {
    margin: 0;
    padding: 0;
    color: #000000;
    width: 100vw;
    
}
::selection {
    background: #000;
    color: #fff;
}
main{
    margin: 0 50px 200px;
}


/* header */
header {
    width: 100vw;
    padding: 10px 40px;
    height: 50px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: right;
    background-color: #ffffff;
}
header ul {
    display: flex;
    padding: 10px 50px 0;
    justify-content: flex-end;  /* 右寄せ */
}
header li {
    color: #000000;
    list-style: none;
    line-height: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    margin: auto 20px;
}
header li p {
    font-size: 80%;
    margin-bottom: 0px;
}
/* アンダーラインの作成 */
.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.underline::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.05em;
    background: #000000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.underline:hover::after {
    transform-origin: right top;
    transform: scale(1, 1);
}


/* text_size */

.text_22{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 24px;
}
.text_32{
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
    margin: 12px 0;
}
.hover_shadow{
    cursor: pointer;
    transition: .5s;
}
.hover_shadow:hover{
    text-shadow: -.2em .2em 2px rgba(255, 0, 0, 0.4), .2em -.2em 2px rgba(0, 194, 255, 0.4);
}

/* logo icon */
.logo_icon_image{
    width: 70px;
    height: 70px;
    margin: 50px 90px 0;
}

/* select category section */
.select_category_section{
    margin: 40px 40px 50px;
    width: calc(100vw - 80px);
    text-align: center;
    display: flex;
    align-items: top;
    justify-content: center;
}
.select_category_child{
    text-align: left;
    margin: 0 140px;
    position: relative;
} 
.left_section:after, .middle_section:after{
    content: '';
    border-right: 1px solid #AFAFAF;
    position: absolute;
    top: 0;
    right: -140px;
    height: 100%;
}

/* search section */
.search_section{
    margin: 170px 100px 0;
    width: calc(100vw - 200px);
    text-align: right;
}
.search_works_input{
    width: 20em;
    max-width: 80vw;
    padding: 5px 30px 5px 5px;
    border: 0;
    border-bottom: 1px solid #303030;
    color: #303030;
}
.search_icon{
    height: 20px;
    margin: -5px -2em;
}
input[type=text]:focus {
    outline: none;
}



/* videocard */
.videocards_outer{
    width: 100%;
}
.videocard {
    width: 400px;
    display: inline-block;
    padding: 40px;
    vertical-align: top;
}
.thumbnails_image{
    width: 100%;
    transition: .5s;
}
.videocard:hover .thumbnails_image{
    box-shadow: 10px 6px 0px rgba(176, 233, 175, 0.5);
}
.class_text{
    color: #474747;
    font-weight: normal;
    margin: 40px 0 5px;
}

.grade_text{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 40px 8px;
}

.list_title{
    font-size: 26px;
    font-weight: 300;
    margin: 20px 40px 40px;
}

.go_back_button{
    margin: 60px 0 100px;
    font-weight: 300;
    color: #474747;
}
.tag_outer {
    margin: 20px 0;
}
.tags{
    background: #CCCCCC;
    color: #ffffff;
    padding: 2px 10px;
    width: 7em;
    font-size: 14px;
    transition: .5s;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 5px 4px 0px rgba(175, 226, 233, 0.5);
    cursor: pointer;
}
.tags:hover{
    box-shadow: none;
}
.tags p{
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}