/* font-size generator */
/* https://websemantics.uk/tools/responsive-font-calculator/ */
/* 560px - 1920px */

/* fonts */
@font-face {
	font-family: 'postnobillscolomboExtrabold';
	src: url('../../fonts/postnobillscolombo-extrabold.ttf');
}

html { scroll-behavior: smooth; }

p,a,h1,h2 {
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    color: black !important;
    text-decoration:none;
}

h2 {
    font-size: calc(1.25rem + ((1vw - 5.6px) * 0.7353)); /* 20px - 30px */
    line-height: calc(1.5 * (1.25rem + ((1vw - 5.6px) * 0.7353)));
    letter-spacing: 0.2em;
    font-weight: 500;
}
p {
    font-size: calc(0.9375rem + ((1vw - 5.6px) * 0.3676)); /* 15px - 20px */
    line-height: calc(1.5 * (0.9375rem + ((1vw - 5.6px) * 0.3676)));
    letter-spacing: 0.2em;
}

/* css */
body {
    margin: 0;
    padding: 0;
    color: #000000;
    width: 100vw;
    
}
::selection {
    background: #000;
    color: #fff;
}


/* header */
header {
    width: 100vw;
    height: 50px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: right;
    background-color: #ffffff;
}
header ul {
    display: flex;
    padding: 10px 50px 0;
    justify-content: flex-end;  /* 右寄せ */
}
header li {
    color: #000000;
    list-style: none;
    line-height: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    margin: auto 20px;
}
header li p {
    font-size: 80%;
    margin-bottom: 0px;
}
/* アンダーラインの作成 */
.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.underline::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.05em;
    background: #000000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.underline:hover::after {
    transform-origin: right top;
    transform: scale(1, 1);
}


/* text_size */

.text_22{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 24px;
}
.text_32{
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
    margin: 12px 0;
}
.hover_shadow{
    cursor: pointer;
    transition: .5s;
}
.hover_shadow:hover{
    text-shadow: -.2em .2em 2px rgba(255, 0, 0, 0.4), .2em -.2em 2px rgba(0, 194, 255, 0.4);
}

/* logo icon */
.logo_icon_image{
    width: 70px;
    height: 70px;
    margin: 50px 90px 0;
}

/* select category section */
.select_category_section{
    margin: 40px 40px 50px;
    width: calc(100vw - 80px);
    text-align: center;
    display: flex;
    align-items: top;
    justify-content: center;
}
.select_category_child{
    text-align: left;
    margin: 0 140px;
    position: relative;
} 
.left_section:after, .middle_section:after{
    content: '';
    border-right: 1px solid #AFAFAF;
    position: absolute;
    top: 0;
    right: -140px;
    height: 100%;
}

/* search section */
.search_section{
    margin: 170px 100px 0;
    width: calc(100vw - 200px);
    text-align: right;
}
.search_works_input{
    width: 20em;
    max-width: 80vw;
    padding: 5px 30px 5px 5px;
    border: 0;
    border-bottom: 1px solid #303030;
    color: #303030;
}
.search_icon{
    height: 20px;
    margin: -5px -2em;
}
input[type=text]:focus {
    outline: none;
}


.thumbnail_outers{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll_hidden{
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
.scroll_hidden::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.thumbnail_inner{
    width: 3000px;
    height: 280px;
}

.thumbnails_div{
    background: #ffffff;
    width: 300px;
    height: 168.75px;
    margin: 7px;
    transition: .5s;
    display: inline-block;
}
.thumbnails_div:hover{
    box-shadow: 10px 6px 0px rgba(233, 175, 217, 0.5);
}
.thumbnails_div img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

main{
    padding: 0 50px 200px;
}

p.more{
    font-size: 15px;
    margin: 15px 0;
    cursor: pointer;
}
.grade_text {
    margin: 30px 0 12px;
}
.sub_title {
    margin: 150px 0 10px;
}