@font-face {
	font-family: 'postnobillscolomboExtrabold';
	src: url('../../fonts/postnobillscolombo-extrabold.ttf');
}

body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #303030;
}
main{
    text-align: center;
    width: 70%;
    margin: auto;
}
.title{
    margin-top: 50px;
    font-family: 'postnobillscolomboExtrabold';
    font-size: calc(2.5rem + ((1vw - 3.75px) * 1.2945)); /* 40px - 60px */
    line-height: 115%;
    letter-spacing: 0.4em;
    text-stroke: 1.4px #303030;
    -webkit-text-stroke: 1.4px #303030;
    box-sizing: border-box;
    text-shadow: -2px 2px 2px rgba(255, 0, 0, 0.4), 2px -2px 2px rgba(0, 194, 255, 0.4);
}
.title_0{
    color: white;
}
.title_1{
    color: #303030;
}

.tile_main_sesstion{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.2em;
    width: 5em;
    border-bottom: 2px solid #303030;
    margin: 70px auto;
}
.description_text{
    font-size: calc(0.875rem + ((1vw - 3.75px) * 0.1942)); /* 14px - 17px */
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 0;
}

.code_title{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 40px 0;
}

.code_div{
    width: calc(100% - 100px);
    height: auto;
    padding: 30px 50px;
    background: rgba(196, 196, 196, 0.4);
    margin: 0 0 60px;
    position: relative;
}
.side_img{
    position: absolute;
    width: 10%;
    min-width: 100px;
    right: 30px;
    top: 20px;
}
.code_div hr{
    margin: 15px 0;
    border: 1.4px solid #303030;
    background: #303030;
}
.code{
    font-size: 63px;
    font-weight: 800;
    letter-spacing: 0.4em;
    margin: 30px 0;
    font-family: 'postnobillscolomboExtrabold';
}

.return_a{
    color: #303030;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.2em;
}



@media screen and (max-width: 1000px) {
    main{
        width: 86%;
    }
}