body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #303030;
}
a{
    color: #303030;
    text-decoration: none;
}

.hide_scroll_bar::-webkit-scrollbar {
    display:none;
}
.hide_scroll_bar {
    scrollbar-width: none;
}
.form_div{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left_section{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_section {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_section_image{
    width: 50%;
}
.right_section .inner{
    padding: 60 80 60 10;
}
.arrow_icon{
    margin-top: 10px;
    float: right;
    cursor: pointer;
    pointer-events: none;
}

.form_category{
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-bottom: 120px;
}



input[type=text] {
    width: 20em;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #303030;
    font-size: 16px;
    color: #303030;
} 

input[type=text]:focus {
    outline: none;
}

.scroll_outer{
    overflow-x: hidden;
    width: 400px;
    height: 330px;
    max-height: 80%;
    margin: 0 0 50px;
    position: relative;
}

.scroll_innner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}
.scroll_inner_section{
    width: 400px;
    display: flex;
    align-items: center;
}
.go_form{
    font-size: 17px;
    color: #4b4b4b;
    letter-spacing: 0.4em;
    font-weight: 200;
    margin: 0;
    float: left;
    cursor: pointer;
}

.form_choices{
    font-size: 16px;
    font-weight: 300;
    color: #AFAFAF;
    letter-spacing: 0.15em;
    margin: 14px 0;
    cursor: pointer;
}
.active_choice{
    color: #303030;
}

.coicies_div{
    margin-top: 30px;
}

.submit_button{
    font-size: 15px;
    margin: 30px 0;
    border: 1px solid #303030;
    background: none;
    padding: 1em 2em;
    transition: 100ms;
}
.submit_button:hover{
    box-shadow: -3px 4px 4px rgba(255, 0, 0, 0.4), 2px -2px 4px rgba(0, 194, 255, 0.4);
}

.error_messege {
    font-size: 12px;
    color: #d03030;
    display: none;
}


@media screen and (max-width: 1000px) {
    .form_div{
        display: block;
    }
    .left_section{
        width: 100vw;
        height: auto;
    }
    .form_section_image{
        margin: 2vw;
        width: 96vw;
    }
    .right_section {
        width: 100vw;
        height: auto;
        padding: 30px 0;
    }
    .right_section .inner{
        padding: 0 60px;
        width: calc(100vw - 120px);
    }
    .scroll_outer, .scroll_inner_section, .scroll_inner_section input[type=text]{
        width: calc(100vw - 120px);
    }
    .form_category{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .form_div{
        height: auto;
    }
}