/*font-size:
375px - 1920px
https://websemantics.uk/tools/responsive-font-calculator/
*/
body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

a{
    color: #303030;
    text-decoration: none;
}

.form_div{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left_section{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_section {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_section_image{
    width: 50%;
}
.right_section .inner{
    padding: 60 80 60 10;
}
.form_quetion_en{
    font-size: calc(1.375rem + ((1vw - 3.75px) * 0.9061)); /* 22px - 36px */
    font-weight: 300;
    color: #303030;
    letter-spacing: 0.4em;
    margin: 0;
}
.form_quetion_jp{
    font-size: calc(0.8125rem + ((1vw - 3.75px) * 0.1942)); /* 13px - 16px */
    font-weight: 200;
    color: #303030;
    letter-spacing: 0.2em;
    margin: 1 0 65px;
}
.form_choices{
    font-size: calc(0.875rem + ((1vw - 3.75px) * 0.4531)); /* 14px - 21px */
    font-weight: 300;
    color: #AFAFAF;
    letter-spacing: 0.4em;
    margin: 25px 0;
    cursor: pointer;
}
.active_choice{
    color: #303030;
}
.arrow_icon{
    margin-top: 140px;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .form_div{
        display: block;
    }
    .left_section{
        width: 100vw;
        height: auto;
    }
    .form_section_image{
        margin: 2vw;
        width: 96vw;
    }
    .right_section {
        width: 100vw;
        height: auto;
        padding: 30px 0;
    }
    .right_section .inner{
        padding: 60px;
    }
}

input[type=text] {
    width: 20em;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #303030;
    font-size: 16px;
    color: #303030;
} 

input[type=text]:focus {
    outline: none;
}

.no_code_text{
    font-size: 11px;
    color: #747474;
    text-decoration: underline;
}
.error_text{
    font-size: 11px;
    font-weight: bold;
    color: rgb(173, 30, 30);
}